html {
  scroll-behavior: smooth !important;
}

:root {
  --border-radius: 15px;
  --gvip-blue: #136693;
  --gvip-darkgreen: #649b53;
  --light-blue: #ced8ea;
}
.mygvip-homepage-container {
  .mygvip-screen__section {
    min-height: 100vh;
  }
  .catchphrase-text {
    text-align: left;
    margin: 0 1em;
  }
  .mygvip-firstscreen {
    /* Background */
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://d2huw5an5od7zn.cloudfront.net/Banner-bg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;

    /* Display */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mygvip-mainscreen {
    width: 90%;
    min-height: 70vh;
    display: flex;
    justify-content: space-between;
  }

  .mygvip-main__element {
    position: relative;
    width: 30%;
    h1 {
      text-align: center;
      color: white;
      font-size: 2.5rem;
    }
    &:first-of-type {
      margin-top: 4em !important;
      h1 {
        text-align: start !important;
        margin-left: 2rem;
      }
      img {
        width: 100%;
      }
    }
    &:last-of-type {
      align-self: center !important;
      height: 50%;
      padding: 5rem 0.25em;
    }
  }

  .first-page-info-text {
    text-align: start;
  }

  .blured {
    border-radius: var(--border-radius);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
  }

  .br {
    margin: 10px 0;
    height: 10px;
  }

  .bottom-text {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .mygvip-vm__container {
    margin: auto;
    top: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .view-more__button {
    margin-top: 2em;
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
      transition: 300ms ease;
      transform: scale(1.1);
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .mygvip-secondscreen {
    padding: 0;

    background: white;
  }

  .main-content__parent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background: var(--gvip-blue);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid var(--gvip-blue);
  }

  .main-content__container {
    width: 80%;
    height: 65vh;

    display: flex;
    justify-content: space-between;
  }

  .single-card {
    position: relative;
    width: 28%;
    height: 100%;
    background: white;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
  }

  .image-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .mygvip-svg__container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 20vh;
    background: var(--gvip-blue);
    clip-path: polygon(51% 100%, 0 0, 100% 0);
  }

  .txt-center {
    text-align: center;
    margin: 0.5em 0;
  }

  .card-text {
    font-size: 1.9em;
    margin: 0.5em;
  }

  .card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: var(--border-radius);
    position: absolute;
    bottom: 0;
    margin: auto;
    margin-bottom: 0.5em;
    height: 50px;
    font-size: 2em;
    text-align: center;
    background: var(--gvip-darkgreen);
    color: white !important;
    width: 60%;
    left: 20%;
    text-decoration: none !important;
    &:hover {
      transition: 300ms;
      background: #346b23;
    }
  }

  .mygvip-rows__container {
    height: 80vh;
    width: 80%;
    margin: auto;
  }

  .third-section-row {
    border-radius: var(--border-radius);
    background: var(--light-blue);
    margin: 3em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .small-img__container {
    border-radius: var(--border-radius);
    width: 150px;
    height: 150px;
    img {
      border-radius: var(--border-radius);
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  .mygvip-row__text {
    width: 80%;
    padding: 0 0.5em;
  }

  .reversed {
    flex-direction: row-reverse;
  }

  .last-btn {
    border: 1px solid var(--gvip-blue);
    transform: rotateZ(180deg);
    &:hover {
      cursor: pointer;
      transition: 300ms ease;
      transform: scale(1.1);
      transform: rotateZ(180deg);
    }
  }
}
@media screen and (max-width: 1245px) {
  .mygvip-homepage-container {
    .mygvip-main__element {
      width: 40%;
    }

    .first-page-info-text {
      font-size: 2.3em !important;
    }

    .card-text {
      font-size: 1.7em !important;
      border-bottom: 1px solid black;
    }
  }
}

@media screen and (max-width: 960px) {
  .mygvip-homepage-container {
    .first-page-info-text {
      text-align: center;
    }
    .catchphrase-text {
      text-align: center;
    }
    .mygvip-mainscreen {
      width: 100% !important;
      display: initial !important;
    }
    .mygvip-main__element {
      margin: 2em 0;
      width: 100%;
      height: fit-content !important;
      h1 {
        margin: 1em 0;
      }
      .bottom-text {
        position: relative;
      }
      img {
        width: 100%;
        object-fit: fill;
      }
    }

    .mygvip-screen__section {
      min-height: initial;
    }

    .br {
      height: initial;
      margin: 0;
    }

    .mygvip-svg__container {
      background: var(--gvip-blue);
      clip-path: polygon(
        100% 0%,
        0% 0%,
        0% 65%,
        1% 64.95%,
        2% 64.8%,
        3% 64.6%,
        4% 64.3%,
        5% 63.9%,
        6% 63.45%,
        7% 62.9%,
        8% 62.25%,
        9% 61.55%,
        10% 60.8%,
        11% 59.95%,
        12% 59.05%,
        13% 58.1%,
        14% 57.1%,
        15% 56.05%,
        16% 55%,
        17% 53.9%,
        18% 52.8%,
        19% 51.65%,
        20% 50.5%,
        21% 49.35%,
        22% 48.2%,
        23% 47.05%,
        24% 45.9%,
        25% 44.8%,
        26% 43.75%,
        27% 42.75%,
        28% 41.75%,
        29% 40.8%,
        30% 39.9%,
        31% 39.1%,
        32% 38.35%,
        33% 37.65%,
        34% 37.05%,
        35% 36.5%,
        36% 36.05%,
        37% 35.65%,
        38% 35.35%,
        39% 35.15%,
        40% 35.05%,
        41% 35%,
        42% 35.05%,
        43% 35.2%,
        44% 35.45%,
        45% 35.75%,
        46% 36.15%,
        47% 36.65%,
        48% 37.2%,
        49% 37.85%,
        50% 38.55%,
        51% 39.35%,
        52% 40.2%,
        53% 41.1%,
        54% 42.05%,
        55% 43.05%,
        56% 44.1%,
        57% 45.15%,
        58% 46.3%,
        59% 47.4%,
        60% 48.55%,
        61% 49.7%,
        62% 50.85%,
        63% 52%,
        64% 53.15%,
        65% 54.25%,
        66% 55.35%,
        67% 56.4%,
        68% 57.45%,
        69% 58.4%,
        70% 59.35%,
        71% 60.2%,
        72% 61.05%,
        73% 61.8%,
        74% 62.45%,
        75% 63.05%,
        76% 63.6%,
        77% 64.05%,
        78% 64.4%,
        79% 64.7%,
        80% 64.85%,
        81% 65%,
        82% 65%,
        83% 64.9%,
        84% 64.75%,
        85% 64.5%,
        86% 64.2%,
        87% 63.75%,
        88% 63.25%,
        89% 62.7%,
        90% 62.05%,
        91% 61.3%,
        92% 60.5%,
        93% 59.65%,
        94% 58.75%,
        95% 57.8%,
        96% 56.8%,
        97% 55.75%,
        98% 54.65%,
        99% 53.55%,
        100% 52.4%
      );
    }

    .main-content__container {
      width: 90%;
      flex-direction: column;
    }

    .single-card {
      width: 100%;
      height: 30%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .image-container {
      width: 40%;
      height: auto;
    }

    .info-container {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .card-btn {
      left: 0;
      position: relative;
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .txt-center {
      margin: 0;
    }

    .card-text {
      height: 70%;
      overflow-y: scroll;
    }

    .card-btn {
      border-radius: 5px;
      height: 20%;
    }

    .view-more__button {
      display: none;
      position: absolute;
      visibility: hidden;
    }

    .third-section-row {
      display: flex;
      flex-direction: column;
    }

    .small-img__container {
      width: 100%;
      height: 40%;
    }

    .mygvip-row__text {
      width: 100%;
      padding: 0;
      margin: 1em 0;
    }
  }
}
@media screen and (max-width: 600px) {
  .mygvip-homepage-container {
    .card-btn {
      font-weight: initial;
      font-size: 1.5em;
      height: initial;
      border-radius: 5px;
      padding: 0.25em 0;
    }

    .mygvip-thirdscreen {
      width: 100%;
      margin-bottom: 10em;
    }

    .mygvip-rows__container {
      width: 100%;
    }
  }
}
