#tabs-7 {
  .timeline-container {
    margin-left: 20px;

    .stp__container {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
    }

    .circle-elm__box {
      margin: 0;
      padding: 0;
      width: 5%;
    }

    .circle_elm {
      margin: 0;
      padding: 0;
      transform: translateX(-50%);
      border-radius: 50%;
      width: 20px;
      height: 20px;
      border: 7px solid #2774a5;
      background: #2774a5;
    }

    .stp__text {
      font-size: 2rem;
      margin: 0;
      padding: 0;
    }

    .stp-extension {
      padding: 0;
      margin: 0;
      transform: translateX(-2.5px);
      border-left: 5px solid #2774a5;
      min-height: 25px;
    }

    .active-elm {
      background: white;
    }

    .wah__container {
      display: flex;
      margin-left: 1em;
      height: 40px;
      align-items: center;
    }

    .arrow-left {
      width: 0;
      height: 0;
      border-top: 15px solid white;
      border-bottom: 15px solid white;
      border-right: 30px solid #2774a5;
    }

    .wah__text {
      color: #2774a5;
      text-decoration: none;
      border: none !important;
      margin-left: 1em;
    }
  }
}
